#form-ever fieldset {
  overflow: scroll;
}

#form-ever td input {
  width: 50px;
}

#form-ever table tr th {
  text-align: center;
}

#form-ever tr td:nth-child(4n+5),
#form-ever tr td:last-child {
  background-color: #a7a7a7;
}
